html {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

body {
  background: url(images/LEONARDO.jpg) no-repeat center center fixed;
  background-size: cover;
}

nav {
  font-weight: normal;
  list-style: none;
  font-size: 1.5em;
  margin: 0;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-shadow: 2px 1px 1px black;
}

p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2.0em;
  margin-inline-start: 1%;
  margin-inline-end: 15%;
  margin-block-start: 13%;
  color: white;
  text-shadow: 1px 1px 1px black;
}

a {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .2s;
}

footer {
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

a:hover {
  background-size: 100% 1px;
}
